<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>烟祭</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="keywords" content="烟祭，Fan，react，express，webpack"/>
    <meta name="description" content="烟祭主要是大家玩的一个项目，主要使用react+express+webpack等技术。" />
    <link rel="shortcut icon" type="image/ico" href="">  <!--网址列前面出现的Icon -->
</head>
<body>
	<noscript>
      	You need to enable JavaScript to run this app.
    </noscript>
    <div id="app">Hello world---express1111111</div>
</body>
</html>